Options +Indexes
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#secciones generales
RewriteRule ^Admin ./login.php
RewriteRule ^./$ ./index.php