Options +Indexes
Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#secciones generales
RewriteRule ^admin/?$ ./login.php
RewriteRule ^./$ ./index.php
RewriteRule ^admin-(\w+)/?$ login.php?access=$1
RewriteRule ^Bienvenido/?$ ./principal.php
RewriteRule ^Empleados/?$ ./empleados.php
RewriteRule ^Usuarios/?$ ./usuarios.php